<tr>
  <td class="align-middle">
    <%= badge.title %>
  </td>
  <td class="align-middle">
    <img src="<%= badge.path %>" alt="<%= badge.title %>"
         class="img-fluid mx-auto"
         style="width: 25px;height: 25px;">
  </td>
</tr>