<tbody>
<tr>
  <td><%= link_to truncate(gist.question.body, length: 25), admin_question_path(gist.question) %></td>
  <td><%= link_to gist_hash(gist.url), gist.url , target: '_blank' %></td>
  <td><%= gist.author.email %></td>
  <td><%= link_to t('admin.gists.index.delete'), admin_gist_path(gist), method: :delete, data: {confirm: 'Delete?'} %></td>
</tr>
</tbody>