<% if resource.errors.present? %>
  <div>
    <h4><%= t('.header', count: resource.errors.count) %></h4>
    <ul>
      <% resource.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>