<footer class="align-bottom d-flex justify-content-center pt-3 mt-2 bg-light text-dark">
  <hr>
  <p class="px-3"><%= current_year %></p>
  <a class="px-3" href="https://thinknetica.com/" target="_blank">thinknetica.com</a>
  <p class="px-3"><%= github_url('Pegorino82', 'test_guru') %></p>
</footer>