<footer style="position: absolute;bottom: 0;height: 200px;width: 100%;text-align: center">
  <hr>
  <div> <%= current_year %></div>
  <div><a href="https://thinknetica.com/" target="_blank">thinknetica.com</a></div>
  <div> <%= github_url('Pegorino82', 'test_guru') %></div>
</footer>