<li>
  <%= link_to answer.body, admin_answer_path(answer)%> |
  <%= link_to t('common.edit'), edit_admin_answer_path(answer) %> |
  <%= link_to t('common.delete'), admin_answer_path(answer), method: :delete, data: {confirm: 'Delete?'} %>
</li>