<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h3>Feedback from <%= @feedback.user.name.capitalize %></h3>
    <p><%= @feedback.message %></p>
  </body>
</html>
