@import "bootstrap";
@import "global.scss";
@import "flash.scss";
@import "typography/icons.scss";

.navbar {
    background-color: #e3f2fd;
}

.success {
    color: green;
}

.failed {
    color: red;
}

a {
    text-decoration: none;
}

footer {
    bottom: 0;
}