<tbody>
  <tr>
    <td><%= link_to test.title, admin_test_path(test) %></td>
    <td><%= test_level(test) %></td>
    <td><% test.questions.map do |question| %>
        <%= link_to question.body, question_path(question) %> |
      <% end %>
    </td>
  </tr>
</tbody>
