<h3>Tests</h3>

<p><%= link_to 'Create', new_test_path %></p>

<table>
  <thead style="text-align: center;">
    <tr>
      <td>Title</td>
      <td>Level</td>
      <td>Questions</td>
    </tr>
  </thead>

  <%= render @tests %>
</table>
